@import 'foundation';
@import 'variables';

.center-with-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-with-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-with-grid {
  display: grid;
  place-items: center;
}

.meow-cat-logo {
  width: 330px;
  height: 280px;
  position: absolute;
  bottom: -150px;
  left: calc(50% + 18px);
  transform: translateX(-50%);
}

.style-rotate-transition {
  transition: transform 0.25s linear;
}

.style-rotate-90 {
  transform: rotate(90deg);
}

.style-drowdrop-wrapper {
  max-height: 0;
  transition: max-height 0.25s linear;

  div.sub-routes-content {
    transform: translateY(-100%);
    transition: transform 0.25s linear;
  }
}

.style-drowdrop-wrapper-active {
  max-height: 1000px;
  transition: max-height 0.25s linear;

  div.sub-routes-content {
    transform: translateY(0%);
    transition: transform 0.25s linear;
    transition-delay: 0.05s;
  }
}

.styled-navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: auto;
  z-index: 99;
}

.styled-navbar-close {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transition: transform 0.5s ease-in;
}

.styled-navbar-open {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: transform 0.5s ease;
}

.styled-navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  // removed opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;

  &-open {
    display: block;
  }

  &-close {
    display: none;
  }
}

.filp-horizontal {
  transform: scaleX(-1);
}

.filp-vertical {
  transform: scaleY(-1);
}

.cat-footprint {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}

.tvl-shadow-wrapper {
  -webkit-filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.15));
}

.connent-wallet-modal-button {
  box-shadow: inset 0px 0px 2px rgba(97, 97, 97, 0.2), inset 0px 2px 4px rgba(97, 97, 97, 0.2);
}

.close-position-modal-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 10px;
  margin-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input:checked ~ span {
    background-color: transparent;
  }
  input:checked ~ span:after {
    display: block;
  }
}

.close-position-modal-input {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid $primary;

  &::after {
    content: '';
    position: absolute;
    display: none;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 50%;
    background: $primary;
  }
}

.layout-wrapper {
  padding: 0;
  @media screen and (min-width: $lg) {
    padding: 0 40px;
  }
}

.styled-slider {
  -webkit-appearance: none;
  outline: none !important;
  width: 100%;
  height: 3px;
  box-shadow: 0px 0.4px 1px rgba(97, 97, 97, 0.4);

  &::-webkit-slider-thumb {
    z-index: 20;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    margin-top: -10px;
    border: 0;
    width: 25px;
    height: 22px;
    cursor: pointer;
    background-image: url('../assets/images/footprint/catFootprint.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 22px;
  }
}

.styled-overlay {
  position: absolute;
  background-color: white;
  width: 11px;
  height: 26px;
  z-index: 1;
}

.slider-cover-left {
  @extend .styled-overlay;
  top: 4;
  left: 16px;

  @media screen and (min-width: $lg) {
    top: 0;
    left: 32px;
  }
}

.slider-cover-right {
  @extend .styled-overlay;
  top: 4;
  right: 16px;

  @media screen and (min-width: $lg) {
    top: 0;
    right: 32px;
  }
}

.ant-modal-content {
  display: flex;
  justify-content: center;
  box-shadow: none;
  width: auto;
  height: auto;
  background-color: transparent;
}

@mixin circle-left-bottom-diameter($diameter) {
  $half-of-diameter: $diameter / 2;
  $translate-up: 16px;

  position: fixed;
  z-index: -1;
  height: $diameter;
  width: $diameter;
  top: calc(100vh - #{$half-of-diameter} - #{$translate-up});
  left: -$half-of-diameter;
  border-radius: 9999px;
}

.background-primary-circle-left-bottom {
  @include circle-left-bottom-diameter(540px);
  background-color: $primary-soft;
}
